body{

  /* background: url("./flowers.png");
  background-repeat: repeat; */
  
  background-color: rgb(10, 43, 10);

}

.app-wrapper {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5fff5;
  min-height: 100vh;
}

.header {
  background-color: #2e7d32;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-buttons {
  margin-top: 1rem;
}

.nav-buttons button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: #a5d6a7;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  color: #1b3c20;
  font-weight: bold;
  transition: background-color 0.3s;
}

.nav-buttons button:hover {
  background-color: #81c784;
}

.main-content {
  padding: 2rem;
  max-width: 960px;
  margin: auto;
}

.home-section {
  background-color: white;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 64, 0, 0.1);
  text-align: center;
}

.home-section h2 {
  color: #fcfcfc;
  margin-bottom: 1rem;
}

.home-section p {
  /* font-size: 1.1rem; */
  line-height: 1.6;
}


.font-controls {
  display: flex;
  gap: 0.5rem;
  margin-left: auto;
  padding: 0.5rem;
}

.font-controls button {
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  background-color: #2f4f4f;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.font-controls button:hover {
  background-color: #3f5f5f;
}


/* p {
  font-size: 35px;
} */